.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	text-align: center;
	z-index: 9999;
	display: none;
}

.overlay:before{
	content: "";
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}
.popup{
	display: inline-block;
	vertical-align: middle;
	background: white;
	border-radius: 7px;
	border: 1px solid #ababab;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	text-align: left;
	padding: 20px;
}

.new_topic_popup label{
	display: block;
}